@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 100vw;

    padding-top: 80px;
    padding-right: 100px;
    padding-left: 100px;

    background: #131316;
    color: white;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.page_left {
}

.page_right {
    margin-bottom: 5rem;
}

.name_page {
    position: fixed;
    padding-left: 10rem;
    display: inline-block;
}

.name_page_footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 5rem;
}

.intro {
    font-size: 3rem;
    font-family: 'Arsenal SC', sans-serif;

    width:100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), cursor .4s step-end infinite alternate;

    margin-bottom: 1rem;
}

/* cursor blinking  */
@keyframes cursor {
    50% { border-color: transparent }
}

/* typing  */
@keyframes typing {
    from { width: 0}
}

.fa-github {
    font-size: 2rem;
    color: plum;
    margin-right: 1rem;
    cursor: pointer;
}

.fa-linkedin {
    font-size: 2rem;
    color: skyblue;
    margin-right: 1rem;
    cursor: pointer;
}

.fa-square-x-twitter {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.fa-square-facebook {
    font-size: 2rem;
    color: blue;
    margin-right: 1rem;
    cursor: pointer;
}

section {
    /* display: grid;
    place-items: center;
    align-content: center; */
    min-height: 50vh;
    padding-right: 10rem;
}

.section_head {
    padding: 5rem;
}

/* slide animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project {
    border-radius: 30px;
    background: #3c31dd;
    padding: 1rem;
    width: 40rem;
    height: 10rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr, 3fr);
}

/* curve backgroud */
.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

/* .section_bg {
    position: relative;
}

.curve {
    position: absolute;
    height: 225px;
    width : 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
} 

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #0f0f10;
    z-index: -1;
}
    */